<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
      <%= form_for(@post) do |f| %>
        <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= @post.errors.count %>件のエラーがあります。</h2>

              <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
        <% end %>

        <p><%= f.label :タイトル %></p>
        <p><%= f.text_field :title, class: "form-control" %></p>
        <br>
        <p><%= f.label :内容 %></p>
        <p><%= f.text_field :content, class: "form-control" %></p>
        <br>
        <p><%= f.submit %></p>
      <% end %>
      <%= link_to "一覧に戻る", posts_path %>
    </div>
  </div>
</div>
